.pagination .page-item .page-link {
    color: #333;
}

.pagination .page-item.active .page-link {
    background-color: #dc3545; border-color: #dc3545; color: #fff;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
    background-color: #dc3545;
}

.pagination .page-item.active .page-link:hover {
    background-color: #dc3545;
}
